header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    box-sizing: border-box;
    width: 15vw;
}

.cabeza{
    width: 80vw;

}

.box{ 
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#2a9d8f,#e9c46a, #e76f51);
}
.titulos{
    color: #f4a261;
    text-align: center;
    font-size: 60px;
    font-family: 'Comfortaa', cursive;
    text-decoration: underline;
}

.subtitulos{
    color: #f4a261;
    text-align: center;
    font-size: 50px;
    font-family: 'Comfortaa', cursive;
}

.foto1{ 
    padding: 10px; 
    margin: 10px;
    width: 100%;
    height: auto;
    align-items: center;
}

.tamañoletra{
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
}

.enfasis{
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
    text-decoration: underline;
}

.ubicacionmapa{
    float: right;
}

.navigator{
    display: flex;
    flex-direction: row-reverse;
}

nav ol li{
    display: inline-block;
    width: 150px;
    height: 50px;
    float: right;
}

.recetas{
    width: 74%;
    height: 1400px;
    background-color: #264653;
    border-radius: 5px;
    top: 60%;
}

footer{
    width: 100vw;
    height: 20vh;
    display: flex;

}

nav ol li:hover{
    zoom: 110%;
}

.formcontacto{
    width: 250px;
    height: 300px;
    text-align: left;
    background-color: #f4a261;
    border-radius: 5px;
    position: relative;
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
    float: center;
}

main section form label{
    display: block;
    color: #264653;
}

.espaciomensaje{
    width: 175px;
    height: 100px;
}

section{
    color: #e9c46a;
    position: absolute;
    top: 60%;
    justify-content: center;
}

aside{
    display: flex;
    flex-direction: row-reverse;
    width: 25%;
    height: auto;
    border-radius: 5px;
    background-color: wheat;
    position: absolute;
    top: 60%;
    right: 0px;

}

.videosmapa{
    display: flex;
    width: 50%;
    position: static;
    flex-direction: column-reverse;
}